@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root{
    --f0: rgb(225,225,225);
    --b0: rgb(25,25,30);
    --b1: rgb(30,30,35);
    --b2: rgb(40,40,45);
    --b3: rgb(50,50,55);
    --bx0: rgb(0,0,0,0.4);
    --darkgray: rgb(70,70,75);
    --gray: rgb(100,100,105);
    --hover: rgba(150,150,155, 0.75);
    --hover2: rgba(100,100,105, 0.75);

    --padding: 5%;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: var(--b1);
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: var(--b1);
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--b2);
    width: 12px;
    border-radius: 5px;
    transition: all 100ms;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--b3);
    cursor: pointer;
}
body{
    background-color: var(--b1);
    color: var(--f0);
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(340deg, var(--b1) 50%, var(--b3)) 0 0 / 100% 100%;
    background-attachment: fixed;
    text-shadow: 3px 3px 3px var(--bx0);
}  
main{
    padding: 2rem var(--padding);
    margin-top: 50px;
}
main > *{
    animation: dropIn 750ms;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Outfit", system-ui;
    margin-top: 10px;
    font-weight: bold;
}
h1{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}
h2{
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}
h3{
    font-size: 25px;
    line-height: 25px;
}
a{
    text-decoration: none;
    color: springgreen;
    transition: all 100ms;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(95, 40, 255);
}
p{
    line-height: 25px;
    margin-top: 0;
    color: rgb(175,175,175);
}
img{
    width: 100%;
    height: auto;
    border-radius: 6px;
    pointer-events: none;
}
button{
    background-color: var(--b2);
    border-radius: 4px;
    border: 1px solid var(--darkgray);
    color: var(--f0);
    padding: 5px 15px;
    width: fit-content;
    transition: all 100ms;
    font-family: sans-serif;
}
button:hover{
    border-color: rgb(0,150,255);
    background-color: rgb(0,75,255);
    cursor: pointer;
}
button:disabled{
    border-color: var(--gray);
    background-color: var(--darkgray);
    cursor: not-allowed;
    color: var(--gray);
}
button.marked{
    border-color: springgreen;
    background-color: rgb(0, 170, 100);
    border-radius: 24px;
    padding: 5px 25px;
    transition: all 250ms;
}
button.marked:hover{
    border-color: rgb(95, 40, 255);
    background-color: rgb(80, 0, 255);
}
button.marked:disabled{
    border-color: var(--b3);
    background-color: var(--darkgray);
    cursor: not-allowed;
    color: var(--gray);
}
/* button.marked:hover{
    border-color: rgb(255, 0, 220);
    background-color: rgb(175, 0, 150);
} */
/* button.marked{
    border-color: rgb(0,150,255);
    background-color: rgb(0,75,255);
}
button.marked:hover{
    border-color: rgb(150, 100, 255);
    background-color: rgb(100,75,255);
    cursor: pointer;
} */

a.marked{
    color: mediumspringgreen;
}
a.marked:hover{
    color:darkturquoise;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
    appearance: none;
    position: relative;
    outline: none;
    transition: all 100ms;
}
input[type="checkbox"]:hover{
    cursor: pointer;
}
input[type="checkbox"]:focus{
    outline: none;
}
input[type="checkbox"]:checked{
    background-color: springgreen;
    border-color: rgb(50, 255, 150);
}
input[type="checkbox"]:checked::after{
    content: '\2714';
	position: absolute;
	color: var(--f0);
    font-size: 16px;
    font-weight: bold;
    top: -1px;
    left: 6px;
}
.input-searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
select option{
    background-color: var(--b2);
    color: var(--f0);
    transition: all 100ms;
    padding: 5px;
}
select option:hover{
    background-color: rgb(0,75,255);
    cursor: pointer;
}
select:hover{
    cursor: pointer;
}
input, select{
    background-color: var(--b2);
    border-radius: 4px;
    border: 1px solid var(--darkgray);
    color: var(--f0);
    padding: 5px;
    width: 250px;
    transition: all 100ms;
    outline: 2px solid transparent;
    font-size: inherit;
}
input:hover, input:not(input[type="checkbox"]):focus, select:hover, select:focus{
    border-color: var(--gray);
    background-color: var(--b3);
}
input:focus{
    outline: 2px solid var(--darkgray);
}
input::placeholder{
    color: var(--gray);
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-searchbar input{
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    width: 200px;
}
.input-searchbar button{
    border-radius: 0 4px 4px 0;
    flex: 0.1;
    width: 50px;
}
.input-viewable{
    display: flex;
    justify-content: center;
}
.input-viewable input{
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    width: 200px;
}
.input-viewable button{
    border-radius: 0 4px 4px 0;
    flex: 0.1;
    width: 50px;
}
.input-validator.invalid .input-viewable button{
    border-color: red;
}
.input-validator{
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-validator p{
    margin: 0;
    margin-left: 1px;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: -18px;
    left: 0;
    z-index: 5;
}
.input-validator.invalid p{
    color: red;
}
.input-validator.invalid input{
    border-color: red;
}
.input-validator.invalid input:focus{
    outline-color: rgb(255, 50, 50);
}
.input-validator.valid .input-viewable button{
    border-color: springgreen;
}
.input-validator{
    display: flex;
    flex-direction: column;
}
.input-validator.valid p{
    color: springgreen;
}
.input-validator.valid input{
    border-color: springgreen;
}
.input-validator.valid input:focus{
    outline-color: rgb(50, 255, 150);
}
header{
    padding: 20px var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 100;
    transition: all 100ms;
    box-shadow: none;
    font-size: 24px;
    background-color: transparent;
}
header .left, header .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
header .left .title{
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: all 100ms;
    font-family: "IBM Plex Mono", cursive;
    padding: 5px;
    border-radius: 6px;
}
header .left .title p{
    margin: 0;
    font-size: inherit;
    color: var(--f0);
}
header .left .title:hover, header .right .bi-list:hover{
    cursor: pointer;
    background-color: var(--darkgray);
}
header .left .title img{
    width: 32px; 
    height: 32px;
}
header .right .bi-list{
    transition: all 100ms;
    font-size: 28px;
    border-radius: 6px;
    padding: 0 5px;
    line-height: 35px;
}
.header-scrolling{
    box-shadow: 0 2px 4px var(--bx0);
    background-color: var(--b1);
}
.dialog{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms;
}
.dialog .content{
    z-index: 502;
    background-color: var(--b0);
    border: 1px solid var(--darkgray);
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 6px var(--bx0);
    min-width: 400px;
    animation: fadein 1s;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    position: relative;
}
.dialog .content .bi-x-lg{
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 5px 8px;
    border-radius: 6px;
    color: var(--hover);
    transition: all 100ms;
}
.dialog .content .bi-x-lg:hover{
    background-color: var(--b2);
    color: var(--f0);
    cursor: pointer;
}
.dialog .content .crow{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.dialog .content .crow p{
    margin: 0;
}
.dialog .content h2{
    border: 1px solid white;
    border-width: 0 0 1px 0;
    padding: 10px 0 25px 0;
    width: 100%;
    margin: 0;
}
.dialog .content h2, .dialog .content p{
    text-align: center;
    margin-bottom: 0;
}
.dialog .content button{
    width: 100%;
}
.dialog .background{
    z-index: 501;
    height: 100%;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
}
.coffcanvas{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 400;
    display: flex;
    justify-content: end;
}
.coffcanvas .content{
    z-index: 402;
    background-color: var(--b0);
    border: 1px solid var(--darkgray);
    border-width: 0 0 0 1px;
    padding: 35px;
    box-shadow: -5px 0 8px var(--bx0);
    width: 400px;
    background-image: linear-gradient(340deg, var(--b1) 60%, var(--b2));
    background-attachment: fixed;
}
.coffcanvas .content .options{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.coffcanvas .content .options > *{
    animation: dropIn 750ms;
}
.coffcanvas .content .options .links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.coffcanvas .content .options .links a{
    font-size: 18px;
    border: 1px solid springgreen;
    background-color: rgb(0, 170, 100);
    border-radius: 24px;
    padding: 5px 25px;
    transition: all 250ms;
    color: var(--f0);
}
.coffcanvas .content .options .links a:hover{
    text-decoration: none;
    border-color: rgb(95, 40, 255);
    background-color: rgb(80, 0, 255);
}
.coffcanvas .content .options .links a .bi{
    margin-right: 5px;
}
.coffcanvas .background{
    z-index: 401;
    height: 100%;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.35);
}
.coffcanvas .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coffcanvas .top h2{
    width: fit-content;
    margin: 0;
    font-family: "IBM Plex Mono", cursive;
    font-weight: normal;
}
.coffcanvas .top .bi-x-lg{
    font-size: 25px;
    border-radius: 6px;
    padding: 0 5px;
    transition: all 100ms;
    color: rgb(175,175,175);
}
.coffcanvas .top .bi-x-lg:hover{
    background-color: var(--b3);
    color: var(--f0);
    cursor: pointer;
}
.notification{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 500px;
    height: 150px;
    overflow: hidden;
    border-radius: 12px;
    transition: all 100ms;
    border: 1px solid  var(--darkgray);
    background-color: var(--b0);
    padding: 20px;
    box-shadow: 2px 2px 4px var(--bx0);
    z-index: 600;
    transition: all 100ms;
}
.notification:hover{
    border: 1px solid var(--darkgray);
    transform: scale(1.025);
    cursor: pointer;
    background-color: var(--b1);
}
.notification div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.notification h2{
    font-size: 30px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
}
.notification p{
    line-height: 25px;
    word-break: break-word;
    margin: 0;
}
.notification i{
    padding: 8px 8px;
    border-radius: 6px;
    position: absolute;
    top: 3px;
    right: 3px;
    color: var(--hover);
    transition: all 100ms;
}
.notification i:hover{
    background-color: var(--b2);
    color: var(--f0);
}
.success, .success:hover{
    color: springgreen !important;
    border-color: springgreen !important;
}
.error, .error:hover{
    color: red !important;
    border-color: red !important;
}
.warning, .warning:hover{
    color: orange !important;
    border-color: orange !important;
}
.note, .note:hover{
    color: aqua !important;
    border-color: aqua !important;
}
@keyframes notificationSlideIn {
    from{
        right: -1000px;
    }
    to{
        right: 25px;
    }
}
@keyframes notificationSlideOut {
    from{
        right: 25px;
    }
    to{
        right: -1000px;
    }
}
@keyframes dropIn {
    0%{
        translate: 0 -25px;
        opacity: 0;
    }
    1%{
        translate: 0 -25px;
        opacity: 0;
    }
    100%{
        translate: 0 0;
        opacity: 1;
    }
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.context-menu{
    background-color: var(--b2);
    padding: 5px;
    border-radius: 6px;
    border: 1px solid var(--darkgray);
    position: fixed;
    z-index: 1000;
    width: 250px;
    box-shadow: 2px 4px 4px var(--bx0);
    display: flex;
    flex-direction: column;
}
.context-menu div, .context-menu button{
    border: 1px solid var(--darkgray);
    border-width: 0 0 1px 0;
    padding: 5px;
    transition: all 100ms;
    width: 100%;
    text-align: left;
}
.context-menu div .bi, .context-menu button .bi{
    margin-right: 5px;
}
.context-menu div:hover, .context-menu button:hover{
    background-color: var(--b3);
    border-radius: 6px;
    cursor: pointer;
}
.lastItem{
    border-width: 0 !important;
}