.projects{
    padding: 10px 0;
}
.projects .projectsContainer{
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.projects .projectsContainer .project, .projects .projectsContainer .create{
    padding: 15px;
    border-radius: 6px;
    transition: all 100ms;
}
.projects .projectsContainer .project .iframeHolder, .projects .projectsContainer .create div{
    background-color: var(--b0);
    border-radius: 6px;
    height: 150px;
    width: 300px;
    box-shadow: 0 2px 4px var(--bx0);
    overflow: hidden;
}
.projects .projectsContainer .project iframe{
    pointer-events: none;
    user-select: none;
}
.projects .projectsContainer .project p, .projects .projectsContainer .create p{
    padding: 5px;
    margin-bottom: 0;
}
.projects .projectsContainer .create div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(175,175,175);
}
.projects .projectsContainer .create:hover, .projects .projectsContainer .project:hover{
    background-color: var(--b3);
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 2px 4px var(--bx0);
}